<%- include('partials/_header') -%>


<div class="main pb-5 bg-gray" id="main">
  <div class="container import-file">
    <nav class="navbar flex-column flex-sm-row p-0 h-100">
      <div class="navbar-brand  h-100">
        <nav class="linkcategory breadcrumb p-0 m-0">
          <ol class="breadcrumb m-0 p-0">
            <li class="breadcrumb-item">
              <a class="hi-text-blue-primary fw-normal" onclick="window.history.back()" href="javascript:void(0)">Facilities</a>
            </li>
            <li class="breadcrumb-item">
              <a class="hi-text-blue-primary fw-normal name-facility" href="#"></a>
            </li>
          </ol>
        </nav>
      </div>
      <div class="navbar-nav py-3 px-0 container-action-file">
        <ul class="nav action-file flex-column flex-sm-row px-0">
          <% if (roles) { %> 
            <% if (roles == "super" || roles == "network") { %>
              <li class="nav-item ">
                <a class="nav-link btn bg-light px-3 add-provider-btn" href="javascript:void(0)"> <i class="fas fa-plus mr-1"></i> Add Provider</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link btn bg-light px-3 add-user-btn" href="javascript:void(0)"> <i class="fas fa-plus mr-1"></i> Add User</a>
              </li>
              <!-- <li class="nav-item ">
                <a class="nav-link btn bg-light px-3" href="#"> <i class="far fa-file-excel"></i> Import Excel</a>
              </li> -->
            <% } %> 
        <% } %> 
        </ul>
      </div>
    </nav>
  </div>
  <div class="container mt-4">
    <div class="bg-white py-3" style="border-radius: 5px">
      <div class="container">
        <div class="row" id="info-facility-card">
      </div>
    </div>

      <div class="border-bottom mt-3">
        <ul class="onglet nav-tabs nav nav-pills mx-4" id="myTab" role="tablist">
          <li class="nav-item ">
            <a class="nav-link active px-3" aria-selected="true" aria-controls="providers" data-toggle="tab" id="providers-tab" href="#providers">Providers</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link px-3" aria-selected="false" aria-controls="users" data-toggle="tab" id="users-tab" href="#users">Users</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link px-3" aria-selected="false" aria-controls="network" data-toggle="tab" id="network-tab" href="#network">Network</a>
          </li>
        </ul>
        <div class="container-main">
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="providers" role="tabpanel" aria-labelledby="providers-tab">
              <div id="contain-content01">
                <div class="container">
                  <div style="border-radius: 5px!important;" class="overflow-lg-x shadow-sm my-3">
                    <table class="table table-stripped m-0 provider-table" style="min-width: 768px">
                      <thead>
                        <tr style="color: #1A4F73!important;">
                          <th scope="col" class="text-center" style="width: 130px">Avatar</th>
                          <th scope="col" style="width: 150px" >Name</th>
                          <th scope="col" >City</th>
                          <th scope="col" >Email address</th>
                          <th scope="col">Address Line</th>
                          <th scope="col" style="width: 80px"></th>
                          <th scope="col" style="width: 80px">Action</th>
                        </tr>
                      </thead>
                      <tbody id="tbody-providers-list">
                      
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="users" role="tabpanel" arial-labelledby="users-tab">
              <div id="contain-content02">
                <!-- <ul class="nav justify-content-end">
                  <li class="nav-item p-3">
                    <a href="#" class="nav-link btn btn-outline-primary px-3" data-toggle="modal" data-target="#serviceModal" style="font-size: 0.75rem;"><i class="fas fa-plus"></i> Add User</a>
                  </li>
                </ul> -->
                <div class="container">
                  <div style="border-radius: 5px!important" class="shadow-sm overflow-lg-x my-3">
                    <table class="table table-stripped m-0 provider-table" style="min-width: 768px">
                      <thead>
                        <tr style="color: #1A4F73!important;">
                          <th scope="col" class="text-center" style="width: 130px">Avatar</th>
                          <th scope="col" >Name</th>
                          <th scope="col" >Email address</th>
                          <th scope="col">Role</th>
                          <th scope="col" ></th>
                          <th scope="col" style="width: 130px">Action</th>
                        </tr>
                      </thead>
                      <tbody id="tbody-users-list">
                        
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="network" role="tabpanel" arial-labelledby="network-tab">
              <div id="contain-content03">
                <div class="container py-3 px-4">
                  <div class="w-100 p-3 shadow-sm">
                    <div class="d-profile w-100 px-3">
                      <div  class="overflow-lg-x">
                        <table class="table m-3 info-profile-table" style="min-width: 768px">
                          <tbody id="tbody-network-list">
                            <tr>
                              <th scope="row" class="fs-small" rowspan="2" width="100">
                                <div class="img-profile" style="border-radius: 50%; background-color: #7AF3AF; width: 100px; height: 100px">
                                  <div class="w-100 h-100 d-flex align-items-center text-center">
                                    <div class="text-white text-center w-100 mh-25" style="font-size: 2.5rem;">ES</div>
                                  </div>
                                </div>
                              </th>
                              <th scope="row" class="fs-normal fw-normal" rowspan="2" style="width:150px;padding-top: 1.5rem !important">
                                Europan Singues
                                <div class="text-color-gray pt-1">New-York / USA</div>
                              </th>
                              <th scope="row" class="fs-small" style="width:150px;padding-top: 1.6rem !important">Mail Address :</th>
                              <td class="fs-small text-color-graylight" style="padding-top: 1.6rem !important">Franklin@gmail.com</td>
                              <td class="" width="280" style="vertical-align: middle!important" rowspan="2">
                                <ul class="nav justify-content-end">
                                  <li class="nav-item p-3">
                                    <a href="#" class="nav-link btn btn-outline-primary px-3" data-toggle="modal" data-target="#serviceModal" style="font-size: 0.75rem;"><i class="fas fa-plus"></i> More view</a>
                                  </li>
                                </ul>
                              </td>
                            </tr>
                            <tr>
                              <th scope="row" class="fs-small" style="padding-top: 0rem !important">Address 1 :</th>
                              <td class="fs-small text-color-graylight" style="padding-top: 0rem !important">Ipsum ...</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</div>

<script>
        
  let baseUrl = "<%= baseUrl %>"
  let url2 = "<%= baseUrl2 %>"
  let RX = "<%= roles %>"
    
</script>

<script defer src="./js/controllers/userFacilityDetails.controller.js" type="module"></script>

<%- include('partials/_footer') -%>