      <%- include('partials/_header') -%>
      <div class="container main loader-full">
        <div class="text-center">
            <div class="spinner-border text-primary" style="height: 7rem; width: 7rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <br>
            <span>Loading...</span>
        </div>
    </div>
      <div class="main bg-gray" style="display: none;" id="main">
        <div class="container">
          <nav class="navbar flex-column flex-sm-row p-0 h-100">
            <div class="navbar-brand  h-100">
              <nav class="linkcategory breadcrumb p-0 m-0">
                <ol class="breadcrumb m-0 p-0">
                  <li class="breadcrumb-item">
                    <a class="hi-text-blue-primary fw-normal" href="#">HI-Card Contract</a>
                  </li>
                </ol>
              </nav>
            </div>
            <div class="navbar-nav py-3 px-0 container-action-file">
              <ul class="nav action-file flex-column flex-sm-row px-0">
                <% if (roles) { %> 
                  <% if (roles == "super") { %> 
                    <li class="nav-item ">
                      <a class="nav-link btn bg-light px-3 create-network" href="#"> <i class="fas fa-plus mr-1"></i> Add Contract</a>
                    </li>
                    <li class="nav-item ">
                      <a class="nav-link btn bg-light px-3 add-facility-btn" href="#"> <i class="fas fa-plus mr-1"></i> Add Facility</a>
                    </li>
                    <li class="nav-item ">
                      <a class="nav-link btn bg-light px-3 add-provider-btn" href="#"> <i class="fas fa-plus mr-1"></i> Add Provider</a>
                    </li>
                    <li class="nav-item ">
                      <a class="nav-link btn bg-light px-3 associate-provider-btn" href="#"> <i class="fas fa-plus mr-1"></i> Associate Provider</a>
                    </li>
                    <li class="nav-item ">
                      <a class="nav-link btn bg-light px-3 add-user-btn" href="#"> <i class="fas fa-plus mr-1"></i> Add User</a>
                    </li>
                    <!-- <li class="nav-item ">
                      <a class="nav-link btn bg-light px-3" href="#"> <i class="far fa-file-excel"></i> Import Excel</a>
                    </li> -->
                  <% } %> 
              <% } %> 
                
                <li class="nav-item" style="padding-right: 0">
                  <form class="form-inline d-flex justify-content-center md-form form-sm">
                    <div class="form-group form-search">
                        <input class="form-control search"  type="text" placeholder="Search"
                          aria-label="Search">
                        <div class="search-icon">
                          <i class="fas fa-search" aria-hidden="true"></i>
                        </div>
                    </div>
                  </form>
                </li>
              </ul>
            </div>
          </nav>
        </div>
        <div class="container">
          <div class="py-3">
            <div class="d-flex row list" id="network-content">
            </div>
          </div>
        </div>
      </div>
      
      <script>
        
        let baseUrl = "<%= baseUrl %>"
        let url2 = "<%= baseUrl2 %>"
        let RX = "<%= roles %>"
          
      </script>
      
      <script defer src="./js/controllers/userNetwork.controller.js" type="module"></script>
      
      <%- include('partials/_footer') -%>